<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="true"
         cacheResult="false"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>src/Dto/Response.php</file>
            <file>src/Casts/ResponseCast.php</file>
            <file>src/Facades/ExchangeRate.php</file>
        </exclude>
    </source>
    <php>
        <env name="EXCHANGE_RATE_BASE_CURRENCY" value="USD"/>
        <env name="EXCHANGE_RATE_SCALE" value="10"/>
        <env name="EXCHANGE_RATE_CACHE_PREFIX" value="test_exchange_rate_prefix"/>
        <env name="EXCHANGE_RATE_CACHE_DRIVER" value="array"/>
        <env name="EXCHANGE_RATE_CACHE_TTL" value="30" />
    </php>
</phpunit>
